.homepage {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.homepage-title {
    font-size: 2rem;
    font-weight: bold;
    color: #7f1d1d;
    /* Color marrón del título */
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5rem;
    color: #7f1d1d;
    margin: 10px 0;
}

.card-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    background-color: #b32e2e;
    /* Botón rojo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.card-button:hover {
    background-color: #7f1d1d;
}